@import "compass/css3";
@import "variables.scss";

.main-title {
    font-size: 46px;
    margin: 30px 10%;

    a {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;

            @include text-shadow($b 0 0 2px, $w 0 0 15px);
            @include transition(all .3s ease);
        }
        
        &:focus,
        &:hover,
        &:active {
            color: $b;

            @include text-shadow($w 0 0 1px, $w 0 0 5px, $w 0 0 45px);
        }
    }
}